*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather Sans", sans-serif;
}

:root {
    --colorDark1: #112d4e;
    --colorDark2: #3f72af;
    --colorLight1: #dbe2ef;
    --colorLight2: #f9f7f7;
} 

.wrapper{
    width: 100vw;
    height: 100vh;
    color: var(--colorLight2);
    background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);
}
h1{
    text-align: center;
    text-transform: uppercase;
    padding-top:20px;
}
.tab{
    font-size:0.87rem;
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px;
    text-transform: capitalize;
}

.tab.current-tab{
    background-color: rgba(219,226,239,0.5 );
    border-radius: 4px;
    padding: 5px;
 

}
.search-container.active{
    scale: 1;
    display: flex;
    opacity: 1;
}
.tab-container{
    width: 90%;
    max-width: 550px;
    margin:0px auto ;
    display: flex;
    margin-top: 4rem;
    /* margin-bottom: 4rem; */
    justify-content: space-between;
}
.weather-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-block: 4rem;

}
.btn{
    all: unset;
    font-size: 0.85rem;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--colorDark2);
}
.subContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.grant-location-container{
  display: none;  
}
.grant-location-container.active{
    display: flex;
}
.grant-location-container img{
    margin-bottom: 1.5rem;
}
.grant-location-container p:first-of-type{
    font-weight: 600;
    font-size: 1.75rem;
    text-align: center;
}
.grant-location-container P:last-of-type{
    font-size: 0.75rem;
    text-align: center;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    font-weight: 300;
    letter-spacing: 0.75px;
}
.loading-container{
    display:none ;
}
.loading-container.active{
    display:flex;
}
.loading-container p{
    text-transform:uppercase;
}


.search-container{
    display: none;
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    margin-bottom: 2rem;
    align-items: center;
    justify-content:center;
    gap: 0 10px;
}


.search-container.active{
    display:flex;
}
.search-container .btn{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: unset;
    height: 40px;
    width: 40px;
    border-radius:100%
}
.search-container .btn img{
    object-fit: contain;
}
.search-container input{
    all: unset;
    /* width: calc(100%-80px); */
    height: 40px;
    padding:0 20px;
    border-radius: 10px;
    background-color: rgba(219, 226, 239, 0.5);

}
.search-container input:focus{
    outline: 3px solid rgba(255, 255, 255, 0.7);


}
.search-container input::placeholder{
    color: rgba(255, 255, 255, 0.7);

}

.user-weather-info{
    display:none ;
}
.user-weather-info.active{
    display: flex;

}
.user-weather-info p{
    font-size: 1.5rem;
    font-weight: 200;
}
.user-weather-info img{
    height:70px;
    width: 70px;
}

.name{
    display: flex;
    align-items: center;
    gap: 0 0.5rem;margin-bottom: .7rem;
}
.name img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.user-weather-info p[data-temp]{
    font-size: 2.25rem;
    font-weight:700;
}
.user-weather-info p[data-weatherDesc]{
    text-transform: capitalize;
    font-size: 1.2rem;
}

.parameter-container{
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 10px 20px;
    margin: 1.6rem auto 0;
    flex-wrap: wrap;
}
.parameter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgba(219, 226, 239, 0.5);
    padding: 0.8rem;
    border-radius: 5px;
    gap: 5px 0;
    width: 30%;
    max-width: 200px;
}
.parameter p{
    font-size: 1rem;
    font-size: 600;
    text-transform: uppercase;
}
.parameter img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.parameterValue{
    font-size: 0.8rem;
    font-weight: 200;
}


.errorContainer {
    display: none;
}

.errorContainer.active {
    display: flex;
    gap: 1rem 0;
}

.errorContainer p {
    text-align: center;
}

.errorContainer img {
    width: 100%;
    max-width: 300px;
    /* aspect-ratio: 1 / 1; */
    object-fit: cover;
}